<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Class Data</h1>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Class</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{ item.Id }}</td>
                    <td>{{ item.Class }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'index' %}">Back to Home</a>
    </body>
</html>